<div class="row">
<div class="col-md-12">
	<ul style="list-style: none;">  
	  <a href="https://www.linkedin.com/in/joychang1/"><li><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></li></a>

	  <a href="https://github.com/chiaychang"><li><i class="fa fa-github fa-3x" aria-hidden="true"></i></li></a>

	  <a href="mailto:joy.cy.chang@gmail.com?Subject=Hello%20again" target="_top" title="joy.cy.chang@gmail.com"><li><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></li></a>

	  <a href="https://twitter.com/chiaychang?lang=en"><li><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></li></a>

	</ul>
</div>
</div>


<style type="text/css">
	
li {
	font-size: 20px;
	margin: 5px;
}
.fa-3x {
	color: #F2AB54!important;
}
</style>

