<canvas title="Gerard Ferrandez from codepen.io"></canvas>
{{!-- <h3 id="tagline">hello there, welcome to my playgound :)</h3> --}}

<div id="welcome">
<br>
	<h2 id="name">Joy Chang</h2>
	<h4>coder | marketer | dreamer</h4>
</div>

<style type="text/css">
	
	html, body {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	touch-action: none;
}
canvas {
	position: absolute;
	width: 100%;
	height: 50%;
	cursor: crosshair;
	background:#eee;
	top: 25%;
	left: 0;
}

#name {
	font-weight: 1200px;
	font-size: 40px !important;
}
#welcome  {
	margin-top: 340px;
	font-family: "Proxima Nova Bold",serif;
	font-weight: 700;
	font-style: normal;
	color: #292929;
}

#tagline {
	font-family: "Proxima Nova Bold",serif;
	font-weight: 700;
	font-style: normal;
	color: #ffd700;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

</style>

<script type="text/javascript">
	{
	// IK point class
	class Point {
		constructor() {
			this.x = Math.random() * canvas.width;
			this.y = Math.random() * canvas.height;
			this.a = 0.0;
		}
		link(p, s, rx, ry) {
			const x = p.x + rx;
			const y = p.y + ry;
			this.a = Math.atan2(this.y - y, this.x - x);
			this.x = x + s * Math.cos(p.a);
			this.y = y + s * Math.sin(p.a);
			return this;
		}
	}
	// set canvas
	const canvas = {
		init() {
			this.elem = document.querySelector("canvas");
			this.resize();
			window.addEventListener("resize", () => canvas.resize(), false);
			return this.elem.getContext("2d");
		},
		resize() {
			this.width = this.elem.width = this.elem.offsetWidth;
			this.height = this.elem.height = this.elem.offsetHeight;
		}
	};
	// set pointer
	const pointer = {
		init(canvas) {
			this.x = canvas.width * 0.5;
			this.y = canvas.height * 0.5;
			this.a = 0;
			['mousemove','touchmove'].forEach((event, touch) => {
  			document.addEventListener(event, (e) => {
					if (touch) {
						e.preventDefault();
						this.x = e.targetTouches[0].clientX;
						this.y = e.targetTouches[0].clientY;
					} else {
						this.x = e.clientX;
						this.y = e.clientY;
					}
				}, false);
			});
		}
	};
	// init pen
	const ctx = canvas.init();
	ctx.strokeStyle = "#334";
	pointer.init(canvas);
	pointer.p = new Point();
	const points = [];
	for (let i = 0; i < 1000; ++i) {
		points.push(new Point());
	}
	// infinite loop
	const run = () => {
		requestAnimationFrame(run);
		ctx.clearRect(0, 0, canvas.width, canvas.height);
		let p0 = pointer.p.link(pointer, 0, Math.random(), Math.random());
		let lineWidth = 60;
		p0 = pointer.p;
		for (let p1 of points) {
			p0 = p1.link(p0, 10, 0, 0);
			ctx.save();
			ctx.translate(p1.x, p1.y);
			ctx.rotate(p1.a);
			ctx.strokeRect(0, -lineWidth * 0.5, 10, Math.max(1, lineWidth *= 0.996));
			ctx.restore();
		}
	};
	run();
}
</script>